
.chat-display {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    /* background: linear-gradient(135deg, #f4ecff, #ffdad9); */
    background: linear-gradient(135deg, #e8dfff, #ffd7d7);

    /* background-color: #f9f9f9;  */
    height: 100vh;
    overflow-y: auto; 
    border: 1px solid #ddd;
    border-radius: 8px;
    scrollbar-width: none;
  }
  
 
  .chat-message {
    max-width: 70%; 
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 1rem;
    line-height: 1.5;
    word-wrap: break-word; 
  }
  
  .user-message {
    align-self: flex-end; 
    background-color: #d1e7dd; 
    color: #155724; 
    border: 1px solid #badbcc;
    text-align: left;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
 
  .assistant-message {
    align-self: flex-start;
    background-color: #e2e3e5;
    color: #41464b; 
    border: 1px solid #ced4da; 
    text-align: left;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  

 
  .chat-messages {
    scroll-behavior: smooth;
  }