.header {
    text-align: center;
    margin-bottom: 2rem;
    width: 60%;
  }
  
  .header h1 {
    font-size: 3rem;
    color: #222;
  }
  
  .header p {
    font-size: 1rem;
    color: #666;
    
  }
  
  span{
    background: linear-gradient(90deg, #ff7f50, #1e90ff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }